body,
html {
  background-color: #78a0e2;
  height: 100%;
  text-align: center;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://www.freepik.com/free-vector/transparent-background-curve_1306397.htm');
  background-repeat: no-repeat;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* ------------Main Page: ------------- */
#main {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title img {
  opacity: 0.5;
}

h1 {
  font-size: 40px;
  font-family: 'Syncopate', sans-serif;
  margin-top: 15px;
  text-shadow: 3px 3px 15px #1f4783;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.dd-menu {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
#about {
  margin: 10px 10px 40px 10px;
}
#about p {
  width: 360px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(35, 67, 164);
  box-shadow: 0 0 50px 30px rgb(35, 67, 164);
  opacity: 0.7;
}
/* ----- Nav and footer: ----------- */

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #1f4783 0%, #bbd2f7 100%);
  padding-bottom: 10px;
  padding-left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.main-nav {
  list-style-type: none;
  display: none;
  margin: 15px auto;
}
.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
  text-align: center;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}
.navbar img {
  height: 70px;
  padding-bottom: 10px;
}
.navbar img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 850px) {
  .title h1 {
    font-size: 80px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

  .navbar ul {
    margin-top: 0;
  }
}

.footer {
  font-size: 18px;
  background-image: linear-gradient(260deg, #1f4783 0%, #bbd2f7 100%);
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
}

.main-footer {
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.footer img {
  height: 60px;
}
.footer img:hover {
  opacity: 0.5;
}

.footer ul {
  margin-bottom: 0;
}

@media screen and (max-width: 850px) {
  .footer {
    display: none;
  }
  .footer li {
    display: none;
    text-decoration: none;
  }
  .footer img {
    display: none;
  }
}

/* ---- Buttons: --------- */
.myButton {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  margin: 10px;
}
.myButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #378de5),
    color-stop(1, #79bbff)
  );
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
  background-color: #378de5;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/* -------- Articles on main page: -------- */

#articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-article {
  background-color: #bbd2f7;
  border-radius: 10%;
  margin: 15px;
  opacity: 0.8;
  width: 300px;
}

.single-article:hover {
  opacity: 0.3;
}

.book-card img {
  width: 200px;
}

/* --------Seach Pages: ------------*/
.search-bars {
  display: flex;
  flex-direction: column;
  /* align-self: auto; */
  /* justify-content: space-around; */
  background-color: #9ab5e2;
  text-align: left;
  margin: auto;
  padding: 5px;
  width: 380px;
}

form {
  width: 350px;
  margin: auto;
  padding: 1px;
}

p {
  width: 300px;
  margin: auto;
}

input {
  width: 90px;
}

/* --------- */

@media screen and (min-width: 800px) {
  .search-bars {
    display: flex;
    flex-direction: column;
    /* align-self: auto; */
    /* justify-content: space-around; */
    background-color: #9ab5e2;
    /* text-align: center; */
    margin: auto;
    padding: 0px 25px 0px 25px;
    width: 480px;
  }

  form {
    width: 750px;
    margin: auto;
    padding: 1px;
  }
  #about p {
    width: 700px;
    margin: auto;
  }
  p {
    width: 700px;
    margin: auto;
  }

  input {
    width: 200px;
  }
}

/* -------- Book card: -------------- */
.book-card {
  background-color: #bbd2f7;
  opacity: 0.7;
  margin: 20px;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px 15px #1f4783;
  border-radius: 2%;
}

.book-card:hover {
  box-shadow: 8px 8px 40px #1f4783;
}

.search-links {
  color: #378de5;
}

.search-links:hover {
  color: orange;
}
.book-by-title-author {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 20px;
  /* justify-content: center; */
  margin: 0px, 200px, 0px, 200px;
}

@media screen and (min-width: 1500px) {
  .book-by-title-author {
    width: 1200px;
    margin: auto;
  }
}

/* -------- Single Book: -------- */

.single-book-img {
  box-shadow: 5px 5px 15px #1f4783;
  border: solid 5px #1f4783;
  width: 300px;
}
