body,
html {
  background-color: #78a0e2;
  height: 100%;
  text-align: center;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://www.freepik.com/free-vector/transparent-background-curve_1306397.htm');
  background-repeat: no-repeat;
}

/* ------------Main Page: --------------- */
#main {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}
.title {
  display: flex;
  justify-content: center;
}

.title img {
  opacity: 0.5;
}
.title h1 {
  margin-top: 15px;
  /* margin: 0; */
}
#about {
  margin: 10px 10px 40px 10px;
}
#about p {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: royalblue;
  opacity: 0.7;
}

/* ---------- Articles on main page: -------------- */

#articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-article {
  background-color: #bbd2f7;
  border-radius: 10%;
  margin: 15px;
  opacity: 0.8;
  width: 300px;
}

.single-article:hover {
  opacity: 0.3;
}

.single-article img {
  width: 200px;
}

/* --------Seach Pages: ------------*/
.search-bars {
  display: flex;
  justify-content: space-around;
  background-color: #9ab5e2;
  margin: 0 auto;
  width: 800px;
}
.id-search {
  align-items: space-around;
  padding: 20px;
  text-align: left;
}

.general-search {
  align-items: space-around;
  padding: 20px;
  text-align: left;
}

#book-by-title-author {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book-card {
  padding: 20px;
  margin: 10px;
}

.book-card a h3 {
  margin: 0;
}
.book-card h4 {
  margin: 0;
}

.nav {
  display: flex;
  height: 60px;
  background-color: #bbd2f7;
  opacity: 0.8;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav img {
  height: 40px;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  height: 60px;

  background-color: #bbd2f7;
  opacity: 0.8;
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.footer img {
  height: 40px;
  padding: 10px;
}

#nav #nav-links {
  display: flex;
  text-align: center;
}

.single-link {
  padding: 10px;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

h1 {
  font-size: 60px;
}
